#nav-bar {
  z-index: 1000;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  padding: 15px 10%;
  background: #FFEC45;
  color: #000;
  border-bottom: 20px solid #ffe712;
  font-weight: 700;
}

#nav-bar img {
  height: 48px;
}

#nav-bar .header {
  text-transform: lowercase;
  font-size: 1.1em;
  position: relative;
  bottom: 3px;
  margin-left: 3px;
}

#nav-bar .header::before {
  content: '(';
}

#nav-bar .header::after {
  content: ')';
}

#nav-bar #composeTweet {
  background: #DE7C9F;
  color: #FFF;
  border: none;
  text-decoration: none;
  height: 80px;
  padding: 28px 30px;
  position: absolute;
  top: 0;
  right: 10%;
  margin: 0;
  float: right;
}

#nav-bar #composeTweet:hover {
  cursor: pointer;
  color: #DE7C9F;
  background: #FFF;
}

#nav-bar #composeTweet:hover span {
  border: 2px solid #DE7C9F;
}

#nav-bar #composeTweet span {
  padding: 5px 8px 7px 8px;
  border: 2px solid #FFF;
}
