@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.error {
  font-weight: 700;
  opacity: 1;
  color: #E05A5A;
}

.new-tweet {
  display: none;
  margin-bottom: 4em;
}

.new-tweet form {
  margin: 0 50px 10px 50px;
}

.new-tweet form textarea {
  padding: 15px;
  height: 100px;
  width: 100%;
  margin: 5px auto 15px auto;
  border: none;
  border-radius: 5px;
  background: #FFEC45;
  font-weight: 700;
}

.new-tweet form textarea::placeholder {
  opacity: 1;
  animation: 1.4s ease infinite blink;
  color: #000;
  font-weight: 400;
}

.new-tweet form input {
  background: none;
  color: #000;
  border: 2px solid #FFEC45;
  padding: 4px 10px 5px 10px;
}

.new-tweet form input:hover {
  cursor: pointer;
  background: #FFEC45;
  color: #000;
}

.new-tweet form .counter {
  float: right;
  padding: 1px 2px 2px 2px;
  background: none;
  margin-top: 5px;
}

.new-tweet form .counter.invalidLength {
  background: #E05A5A;
  color: white;
}
